.siteLayout .siteLayoutBackground {
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.logo {
  height: 32px;
  /* background: rgba(255, 255, 255, 0.3); */
  color: white;
  margin: 16px;
}

.title {
  font-size: large;
  font-weight: bold;
}
.trigger:hover {
  color: #1890ff;
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}
